:root {
    --mainColor: #606B56;
    --seconderyColor: #515a48;

    --borderColor: #161964;

    --mainText: #fff;
    --secondryText: #eeeeee;

    --theamDotBorder: #fff;

    --previewbg: rgba(81,90,72, 0.8);

    --previewShadow: #2a2f25;
}
