:root {
    --mainColor: #eaeaea;
    --seconderyColor: #fff;

    --borderColor: #c1c1c1;

    --mainText: black;
    --secondryText: #4b5156;

    --theamDotBorder: #24292e;

    --previewbg: rgba(251, 249, 243, 0.8);

    --previewShadow: #f0ead6;
}

body * {
    transition: 0.3s;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
}

html,
body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--mainText);
!important;
    font-family: "Russo One", sans-serif;
    font-weight: 500;
!important;
}

p,
li,
span,
label,
input,
textarea {
    color: var(--secondryText);
    font-family: "Roboto Mono", monospace;
}

.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2 {
    background-color: var(--seconderyColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}
.contac-me{
    background-color: var(--seconderyColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

/* intro-section */
.main-container {
    width: 1200px;
    margin: 0 auto;
}

.greading-wraper {
    display: grid;
    justify-content: center;
!important;
    text-align: center;
!important;
    min-height: 10em;
!important;
}

.intro-wrapper {
    background-color: var(--seconderyColor);
    border: 1px solid var(--borderColor);

    border-radius: 5px 5px 0px 0px;

    -webkit-box-shadow: -1px 3px 7px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 3px 7px 1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 3px 7px 1px rgba(0, 0, 0, 0.75);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column";
}

.dots-wrapper {
    display: flex;
    padding: 10px;
}

.browser-dot {
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: -1px 3px 7px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 3px 7px 1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 3px 7px 1px rgba(0, 0, 0, 0.75);
}

#dot-1 {
    background-color: #fc6058;
}

#dot-2 {
    background-color: #fec02f;
}

#dot-3 {
    background-color: #2aca3e;
}

.nav-wrapper {
    border-radius: 5px 5px 0px 0px;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
}

#navigation {
    margin: 0;
    padding: 10px;
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.left-column {
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile-pic {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}

.theam-dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;

    margin: 5px;
    border: 2px solid var(--theamDotBorder);

    -webkit-box-shadow: -1px 3px 7px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 3px 7px 1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 3px 7px 1px rgba(0, 0, 0, 0.75);

    cursor: pointer;
}

.theam-dot:hover {
    border-width: 5px;
}

#light-mode {
    background-color: #fff;
}

#green-mode {
    background-color: #78866B;
}

#blue-mode {
    background-color: #192734;
}

#pruple-mode {
    background-color: #7E4C74;
}

#setting-note {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

#theam-option-wrapper {
    display: flex;
    justify-content: center;
}

.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#preview-shadow {
    background-color: var(--previewShadow);
    width: 300px;
    height: 160px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview {
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewbg);
    padding: 15px;
    position: relative;
}

.corner {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}

#corner-tl {
    top: -5px;
    left: -5px;
}

#corner-tr {
    top: -5px;
    right: -5px;
}

#corner-br {
    bottom: -5px;
    right: -5px;
}

#corner-bl {
    bottom: -5px;
    left: -5px;
}

/* end of intro-section */

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 100px;
}

#skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}

#social_img {
    width: 100%;
}

.social-link {
    display: grid;
    align-content: center;
    text-align: center;
}

.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post {
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: -1px 3px 7px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 3px 7px 1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 3px 7px 1px rgba(0, 0, 0, 0.75);
}

.post-preview {
    background-color: #ffffff;
    padding: 15px;
}

.post-title {
    color: black;
    margin: 0;
}

.Post-intro {
    color: #4b5156;
    font-size: 14px;
}

.thubnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

#project-pic {
    display: block;
    margin: 0 auto;
    /*height: 200px;*/
    width: 90%;
    object-fit: cover;
}

#project-heading {
    /*display: block;*/
    text-align: center;
}

.contactme_block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
    padding: 20px;
}

#left-contact {
    display: block;
    align-self: center;
    justify-self: center;
}

#left-contact ul li{
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 22px;
    border-bottom: 1px dotted var(--borderColor);
}

.contact_a{
    color: var(--mainText);!important;
    transition: 1s;
}

.contact_a:hover{
    color: #8E8FEB;
}

.footer-content{
    background-color: var(--mainColor);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    text-align: center;

    border-bottom: var(--borderColor);
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}


@media screen and (max-width: 800px) {
    .intro-wrapper {

        grid-template-columns: 1fr;
        grid-template-rows: 3em 30em;
        grid-template-areas:
          "nav-wrapper"
          "left-column"
          "right-column";
    }

    .right-column {
        justify-content: center;
    }
}
